
.table-area{
  margin-top: 50px;
}
td{
  padding: 10px 5px;
  color: white;
  font-size: 18px;
  vertical-align: middle;
}

td img{
  margin-right:50px;
}

th{
  color: white;
  font-size: 20px;
}

.cart-item-image {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  
  padding: 5px;
  vertical-align: middle;
  margin-right: 15px;
}

.quantity {
  margin-right: 20px;
}

.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 18px;
  background: transparent;
  color: white;
  font-weight: 300;
}

.minus-btn img {
  width: 20px;
  margin-bottom: 3px;
  padding-right: 5px;
}

.plus-btn img {
  width: 20px;
  margin-bottom: 3px;
  padding-right: 5px;
}

.plus-btn button:hover{
  background: red;
}

.quantity button[class*=btn] {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #cda45e;
    cursor: pointer;
	background: transparent;
}